- name: Include vars from role
  include_vars:
    dir: vars

- name: Create data directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "1000"
    group: "1000"
  loop:
    - /opt/redmine/data
    - /opt/redmine/files
    - /opt/redmine/plugins
  become: true

- name: Copy .env
  ansible.builtin.template:
    src: .env.j2
    dest: /opt/redmine/.env
    # mode: '0644'
    owner: "1000"
    group: "1000"
  become: true

- name: Deploy Redmine
  community.docker.docker_container:
    name: redmine
    image: "redmine:{{ redmine_version }}"
    restart_policy: always
    state: started
    env_file: /opt/redmine/.env
    ports: "{{ redmine_port }}:3000"
    # networks:
    #   - name: redmine-network
    # environment:
    #   PYTHONPATH: ~/app/lib/python3.*/site-packages
    volumes:
      - /opt/redmine/files:/usr/src/redmine/files
      - /opt/redmine/plugins:/usr/src/redmine/plugins
  tags: deploy
