- name: Обновление пакетов
  ansible.builtin.apt:
    update_cache: yes
  become: true

- name: Установка необходимых зависимостей
  ansible.builtin.apt:
    name:
      - apt-utils
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
    state: present
  ignore_errors: true

- name: Добавление GPG ключа Docker
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  become: true

- name: Получение версии Ubuntu
  ansible.builtin.shell: cat /etc/os-release
  register: docker_install_os_release

# - name: Установка переменной для кодового имени
#   ansible.builtin.set_fact:
#     docker_install_ubuntu_version: "{{ os_release.stdout_lines | select('match', '^VERSION_CODENAME=') | first | regex_replace('VERSION_CODENAME=', '') }}"

- name: Добавление репозитория Docker
  ansible.builtin.apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ubuntu_version }} stable
    state: present
  vars:
    ubuntu_version: "{{ docker_install_os_release.stdout_lines | select('match', '^VERSION_CODENAME=') | first | regex_replace('VERSION_CODENAME=', '') }}"
  become: true  

- name: Установка Docker CE
  ansible.builtin.apt:
    name: docker-ce
    state: present
    update_cache: true
  become: true

# - name: add {{ ansible_user }}
#   shell: |
#     usermod -aG docker {{ ansible_user }}
#     newgrp docker
#   become: true


# - name: Убедиться, что Docker запущен
#   service:
#     name: docker
#     state: started
#     enabled: yes
#   become: true
